.card {
    padding-top: -20px;
}
.userDetails {
    text-align: center;
}
section {
    background: #FAFAFA;
    height: 100%;
    padding-top: 60px;
}
.userDetails {
    padding: 25px;
}
.userDetails h3 {
    margin: 0;
    font-size: 20px;
}
.box {
    background: white;
    width: 600px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid #EDEEEE;
    border-radius: 5px;
}
img {
    width: 100%;
    margin-top: auto;
}
.test:after {
    content: '\2807';
    font-size: 50px;
    float: right;
    }
h3 {
    margin-top: 50%;
}    
.actionBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;

}
.actionBtns img {
    max-width: 24px;
    display: inline;
    cursor: pointer;
}
.card .userDetails {
    display: flex;
    align-items: center;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.likes {
    font-weight: 500;
    margin-top: 5px;
    font-size: 16px;
    color: #4d4d4f;
    padding: 10px;
}
.message {
    padding: 20px;
    margin-bottom: 50px;
}
